{% extends "base.html" %}

{% block contenido %}

    <h2>Iniciar sesión</h2>
# Implemento session y proteccion
    <!-- Mostramos el mensaje de error solo si existe -->
    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Usuario:</label>
        <input type="text" name="usuario"><br>

        <label>Contraseña:</label>
        <input type="password" name="contrasena"><br>

        <button type="submit">Ingresar</button>
    </form>

{% endblock %}